div{
    display: inline-flex;
}
.box1{
    width:400px;
    height: 500px;;
    padding:10px;
    margin-top:10px;
    color:rgb(39, 7, 22);
    border:0cm;
    border-color: rgb(110, 12, 94);
    border:radius 50px;
    background-color: rgb(88, 69, 122);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box2{
    width:400px;
    height:500px;
    padding:10px;
    margin-top:10px;
    color:rgb(34, 19, 2);
    border:0cm;
    border-color: rgb(40, 4, 65);
    border:radius 50px;
    background-color: rgb(88, 55, 117);
     font-family: "Trirong", serif;
}
.box3{
    width:400px;
    height:500px;
    padding:10px;
    margin-top:10px;
    color:rgb(43, 17, 37);
    border:0cm;
    border-color: rgb(52, 61, 61);
    border:radius 50px;
    background-color: rgb(65, 14, 107);
    font-family: "Sofia", sans-serif;
}